{% extends 'maintenance/_layouts/cp' %}
{% set title = 'Maintenance'|t %}

{% set crumbs = [
    { label: 'Settings'|t, url: url('settings') },
    { label: 'Plugins'|t, url: url('settings/plugins') },
] %}

{% set selectedTab = 'settings' %}

{% import '_includes/forms' as forms %}

{% set settings = craft.maintenance.getPluginSettings() %}
{% set hasConfigFile = craft.maintenance.hasConfigFile %}

{% set content %}
    {% if hasConfigFile %}
        <p class="maintenanceSettings-notice" data-icon="alert">
            {{- 'The settings are loaded from the {path} config file.'|t({ path: '<code>craft/config/maintenance.php</code>' })|raw }}
        </p>
        <hr>
    {% endif %}

    <form class="{{ hasConfigFile ? 'light' }}" method="post" accept-charset="UTF-8" data-saveshortcut>
        <input type="hidden" name="action" value="plugins/savePluginSettings">
        <input type="hidden" name="pluginClass" value="Maintenance">
        <input type="hidden" name="redirect" value="settings/plugins/maintenance/settings">

        {{ getCsrfInput() }}
        {% namespace 'settings' %}

            {{ forms.textField({
                label: 'Whitelist URLs'|t,
                instructions: 'Define the URLs that are accessible when frontend maintenance is in progress.'|t,
                id: 'maintenanceUrls',
                name: 'maintenanceUrls',
                class: 'code',
                first: true,
                value: settings.maintenanceUrls|join(' '),
                disabled: hasConfigFile,
            }) }}

            {{ forms.textField({
                label: 'Whitelist IP Addresses'|t,
                instructions: 'Define the list of IP addresses that have access to the site when frontend maintenance is in progress.'|t,
                id: 'maintenanceIps',
                name: 'maintenanceIps',
                class: 'code',
                first: true,
                value: settings.maintenanceIps|join(' '),
                disabled: hasConfigFile,
            }) }}

            {{ forms.textField({
                label: 'Status “Pending”'|t,
                instructions: 'The time in advance notification banners are shown.'|t,
                id: 'maintenancePending',
                name: 'maintenancePending',
                value: settings.maintenancePending,
                disabled: hasConfigFile,
            }) }}

            {{ forms.textField({
                label: 'Status “Imminent”'|t,
                instructions: 'The time in advance a countdown is shown in the notification banner instead of the start date.'|t,
                id: 'maintenanceImminent',
                name: 'maintenanceImminent',
                value: settings.maintenanceImminent,
                disabled: hasConfigFile,
            }) }}

        {% endnamespace %}

        <div class="buttons">
            <input class="btn submit {{ hasConfigFile ? 'disabled' }}" type="submit" value="{{ 'Save'|t }}" {{ hasConfigFile ? 'disabled' }}>
        </div>
    </form>
{% endset %}
